.body {
  height: 100%;
  padding: 3%;
  margin-bottom: 0.62rem;
  background-color: rgb(212, 212, 212);
  box-shadow: 0.06rem 0.06rem 0.62rem rgb(212, 212, 212);
}

.title {
  font-size: 1.12rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.31rem;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subtitle {
  font-size: 0.87rem;
  margin: 0.31rem 0.31rem 0.31rem 0;
}

.field {
  width: 98%;
}

.errorMessage {
  margin-bottom: 0.62rem;
  color: red;
  font-size: 0.75rem;
}

.btn {
  align-self: flex-end;
}
