.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  margin-bottom: 0.62rem;
}

.field:focus {
  box-shadow: 0.06rem 0.06rem 0.62rem black;
}

.errorMessage {
  margin-bottom: 0.62rem;
  color: red;
  font-size: 0.75rem;
}

.btn {
  margin-bottom: 0.62rem;
}
